services:
  hop-rank:
    image: kostecki/hop-rank:latest
    restart: unless-stopped
    hostname: hop-rank-docker-tower
    ports:
      - "3002:3000"
      - "4000:4000"
    environment:
      APP_URL: ${APP_URL}
      MAX_SESSION_AGE_HOURS: ${MAX_SESSION_AGE_HOURS}
      MAX_SESSION_IDLE_TIME_HOURS: ${MAX_SESSION_IDLE_TIME_HOURS}
      SESSION_SECRET: ${SESSION_SECRET}
      TOTP_SECRET: ${TOTP_SECRET}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_PATH: ${DATABASE_PATH}
      MIGRATIONS_PATH: ${MIGRATIONS_PATH}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
      SMTP_FROM: ${SMTP_FROM}
      UNTAPPD_CLIENT_ID: ${UNTAPPD_CLIENT_ID}
      UNTAPPD_CLIENT_SECRET: ${UNTAPPD_CLIENT_SECRET}
    volumes:
      - hoprank_data:/app/database
      - /etc/localtime:/etc/localtime:ro

  drizzle-gateway:
    image: ghcr.io/drizzle-team/gateway:latest
    container_name: drizzle-gateway
    restart: unless-stopped
    ports:
      - "4983:4983"
    environment:
      PORT: 4983
      MASTERPASS: ${DRIZZLE_GATEWAY_MASTERPASS}
    volumes:
      - drizzle_gateway_data:/app
      - hoprank_data:/app/database

volumes:
  hoprank_data:
  drizzle_gateway_data:
