:root {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --bg-light: #ffffff;
  --bg-dark: #030712;
}

html,
body {
  background-color: var(--bg-light);
  font-family: var(--font-sans);
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--bg-dark);
    color-scheme: dark;
  }
}
